# Conditional Operations

In [1]:
a=20

In [2]:
b=10

In [3]:
a == b

False

In [4]:
a != b

True

In [5]:
a > b

True

In [6]:
a < b

False

In [7]:
a >= b

True

In [8]:
a <=b

False

In [9]:
not True

False

In [10]:
not a == b

True

In [11]:
not a>b

False

# Chained Comparison Operator

In [12]:
c = 5

In [13]:
a > b and c < a

True

In [14]:
a > b or c > a

True

In [15]:
1 > 10 and 2 < 3

False

In [110]:
1 < 10 and 2 < 10 # true AND true

True

In [154]:
1 < 10 or 2 < 10 # true OR true

True

In [18]:
1 < 10 and 2 > 10

False

In [19]:
1 < 10 or 2 > 10

True

In [155]:
1 >10 and 2 > 10 # false AND false

False

In [21]:
1 > 10 or 2 > 10

False

# Python Statement

- if else
- if elif else
- for
- while

In [42]:
a = 3
b = 3
if a == b :
    print("Equal")
else: 
    print ("Not equal")

Equal

In [33]:
a = 2
if(a%2 == 0) :
    print ("Even");
else :
    print ("Odd");

Even

In [39]:
a = 2
if (type(a) != int):
    print ("Not int")
elif (a%2 == 0) :
    print ("Even");
else :
    print ("Odd");

Even

In [37]:
type(a)

int

In [1]:
mark = 0
if( mark >= 75 ):
    print ("Above Average")
elif ( mark >= 50):
    print ("Average")
elif ( mark > 0):
    print ("Below Average")
else:
    print ("fail")

fail

# For Loops

In [57]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [54]:
for num in my_list:
    print (num)

1
2
3
4
5

In [61]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if(num %2 == 0):
        print ("Even:", num)
    else:
        print ("Odd:", num)

Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Odd: 7
Even: 8
Odd: 9
Even: 10

In [62]:
name="sumathi"
for c in name:
    print (c)

s
u
m
a
t
h
i

In [69]:
tuples = (1,2,3)
for c in tuples:
    print (c)

list_of_tuples = [(1,2),(3,4),(5,6),(7,8)]
list_of_tuples.append((9,10))

for (t1,t2) in list_of_tuples:
    print(t1, " And ", t2)

1
2
3
1  And  2
3  And  4
5  And  6
7  And  8
9  And  10

In [84]:
dictionary = {"cat":"animal", "sparrow":"bird",'spider':'insect'}
for item in dictionary:
    print (item)

#Unpack dictionary
for key,item in dictionary.items():
    print (key , "is" ,item)

list(dictionary.keys())
sorted(dictionary.values())

cat
sparrow
spider
cat is animal
sparrow is bird
spider is insect

['animal', 'bird', 'insect']

In [70]:
set = {1,3,4}
set.add(5)

In [109]:
number = range(2,100)
for num in number:
    flag = 'prime'
    for i in range(2,num):
       if (num % i) == 0:
           #print(num,"is not a prime number")
           flag = 'not prime'
           break
    if flag == 'prime':
        print(num,"is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [116]:
number

range(2, 100)

# While Loop

In [113]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    print (num)
else:
    print ("Completed")
print ("End")

1
2
3
4
5
6
7
8
9
10
Completed
End

In [3]:
x  = 10

In [127]:
x = 0
while x < 10:
    pass
    x +=1
    if x == 3:
        #break
        continue  
                
    print ("x is", x)
else :       
    print ("Done")

x is 1
x is 2
x is 4
x is 5
x is 6
x is 7
x is 8
x is 9
x is 10
Done

In [4]:
while (x > 10):
    pass #No operation. Just place holder

In [141]:
list =  range(3,15)
#list(range(3,5))
for num in list :
    print(num)

3
4
5
6
7
8
9
10
11
12
13
14

In [139]:
min(list)

3

In [142]:
max(list)

14

In [151]:
from random import shuffle
shuffle(list)

TypeError: 'range' object does not support item assignment

In [150]:
from random import randint
randint(0,99)

16

In [152]:
input('Enter any number:')

Enter any number:12

'12'

In [153]:
int(input('Enter any number:'))

Enter any number:12

12